.thead {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background-color: steelblue; 
}

.td {
    padding: 10px;
    padding-left: 20px;
    border: 1px solid steelblue;
    width: 50%;
}

.table {
    border-collapse: collapse;
    border: 3px solid steelblue;
    margin: 15px 20px;
    border-radius: 15px;
}

tr:nth-child(even) { background-color: steelblue; }