#area {
    border: 1px solid black;
    margin: 10px 10px;
}

.wrapper {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    width: 250px;
}

input {
    margin: 10px 10px;
}

h1 {
    display: inline-block;
    width: 500px;
    margin: 10px 10px;
}

h3 {
    display: inline-block;
    width: 1000px;
    margin: 10px 10px;
}

.btn {
    display: inline-block;
    position: relative;
    margin: 10px 10px;
    padding: 15px 30px;
    width: 160px;
    border: 1px solid white;
    background-color: steelblue;
    border-radius: 30px;
    text-align: center;
    color: white;
    overflow: hidden;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}