.search_block {
    margin-bottom: 50px;
  
    input {
      height: 30px;
      border: 1px solid lightblue;
      outline: none;
      font-size: 16px;
      padding: 4px 8px;
      width: 400px;
    }
  }