.table {
  table {
    border-collapse: separate;
    padding: 10px;
    width: 1000px;
    height: 500px;

    tbody {
      tr {
        background-color: white;
        &:nth-of-type(odd) {
          background-color: lightblue;
        }
        td {
          padding: 4px 12px;
          border: 1px solid black;

          &:first-of-type {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .table {
    width: 100vw;
    padding: 0 8px;

    table {
      width: 100%;
    }
  }
}
