$mainColor: white;


.btn {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  font-size: 20px;
  border: 1 solid blue;
  border-radius: 15;
  border-width: 4mm;
  outline: none;
  color: black;
  cursor: progress;
  &:hover {
    background-color: darken($mainColor, 50%);
  }

  @media (min-width: 768px) {
    color: red;
  }

  @media (min-width: 1024px) {
    color: green;
  }
} 

 


