* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
  }
  
  .wrapper {
    display: flex;
    // align-content:center;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:stretch;
  }
  
  
  