.bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 8px;
  background-color: midnightblue;

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin: 0 12px;
    height: 30px;

    &:hover {
      color: red;
    }
  }

  .active {
    color: midnightblue;
    background-color: white;
  }
}
