.thead {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background-color: #e7e7e7; 
}

.td {
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #e7e7e7;
    width: 50%;
}

.table {
    border-collapse: collapse;
    border: 3px solid #e7e7e7;
    margin: 15px 20px;
    border-radius: 15px;
}

